<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
</head>

<body>
<div class="container">
    <%- include('partials/header') -%>
    <%- include('partials/nav') -%>
    <div class="content">
        <div class="proc table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2><%= title %></h2>
                        <!--                        <a href="#addMacModal" class="btn btn-primary" data-toggle="modal"><i-->
                        <!--                                    class="material-icons">add_circle_outline</i> <span>Add New</span></a>-->
                    </div>
                </div>
            </div>
            <table class="form-signin table table-striped table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">감시 Proc</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label>Proc name: <input id="procName" name="procName" value="runme.py"/></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Status: <%= procStatus %></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PID: <%= pid ? pid : 'N/A' %></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" onclick="startButton()"
                                style="margin-bottom: 10px"><%= pid ? 'Stop' : 'Start' %></button>
                        <button class="btn btn-secondary" onclick="refreshButton()"
                                style="margin-bottom: 10px">Refresh</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('partials/footer') -%>
</div>

<script>
    function startButton() {
        var procStatus = "<%= procStatus %>";
        var pid = "<%= pid %>";
        var command = 'python3';
        var procName = $('#procName').val();

        if (procStatus === 'Running') {
            return axios.delete('/proc')
                .then(function (res) {
                    console.log(res);
                    document.location.href = '/proc';
                })
                .catch(function (err) {
                    console.log(err);
                });
        } else if (procStatus === 'Stopped') {
            document.location.href = '/proc';
        }

        return axios.post(`/proc/${command}/${procName}`)
            .then(function (res) {
                console.log(res);
                document.location.href = '/proc';
            })
            .catch(function (err) {
                console.log(err);
            });
    }

    function refreshButton() {
        var procStatus = 'Stopped';
        var pid = null;
        var command = 'killall';
        var procName = 'python3';

        return axios.post(`/proc/${command}/${procName}`)
            .then(function (res) {
                console.log(res);
                document.location.href = '/proc';
            })
            .catch(function (err) {
                console.log(err);
            });
    }
</script>
</body>
</html>
